<!DOCTYPE html>
<html>

<div class="content">

    <div id="p5canvas" onclick="tapCount(true)">
        <div id="toplist">
            <div id="top3"></div>
        
             <div id="bottom3"></div>
        </div>
    </div>
    <br>
    <input class="NameInput" id="nameInput" type="text" value="{{#if savedInputs.name}}{{savedInputs.name}}{{/if}}"
        placeholder="Your Name">
    <div class="slidecontainer">
        <img class="animatedglow" src="stylesheets/NEW/sad.png">
        <input name="r" type="range" min="0" max="255" value="{{savedInputs.r}}" class="slider" id="r"
            oninput="updateBackground()">
        <img class="animatedglow" src="stylesheets/NEW/smile.png">
    </div>
    <div class="slidecontainer">
        <img class="animatedglow" src="stylesheets/NEW/lonely.png">
        <input name="g" type="range" min="0" max="255" value="{{savedInputs.g}}" class="slider" id="g"
            oninput="updateBackground()">
        <img class="animatedglow" src="stylesheets/NEW/popular.png">
    </div>
    <div class="slidecontainer">
        <img class="animatedglow" src="stylesheets/NEW/lazy.png">
        <input name="b" type="range" min="0" max="255" value="{{savedInputs.b}}" class="slider" id="b"
            oninput="updateBackground()">
        <img class="animatedglow" src="stylesheets/NEW/motivated.png">
    </div>

    <div class="slidecontainer">
        <input class="SubmitInput" type="submit" value="E-MOTE!" onclick="submit_emotions()">
    </div>

    {{!-- <p class="matches">Your matches are:</p> --}}
</div>
<div class="footer">
    Created by: Sadi Wali, Jonathan Guirguis, Andy Lee for ARC480
</div>

</html>