@font-face {
    font-family: "VCR OSD MONO";
    src: url(VCR_OSD_MONO.ttf);
}

.content {
    align-content: center;
    font-family: "VCR OSD Mono", Icons;
    letter-spacing: 2px;
}

.slidecontainer {
    align-content: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
}


.glow1 {
    filter: drop-shadow(0px 0px 20px #ffffff);
    animation: 7s infinite blink;
}

@keyframes blink {
    0%,
    50% {
        opacity: 0;
    }
    20%,
    0% {
        opacity: 1;
    }
}

.glow2 {
    filter: drop-shadow(0px 0px 20px #ffffff);
    animation: 7.2s infinite blink;
}


.glow3 {
    filter: drop-shadow(0px 0px 10px #ffffff);
    animation: 7.5s infinite blink;

}

.animatedglow {
    mix-blend-mode: normal;
    filter: drop-shadow(0px 0px 10px #ffffff);
    animation: 20s infinite blink;
    width: 4vw;
    max-width: 40px;
    max-height: 40px;
    height: 4vw;
}

body {
    margin: auto;
    text-align: center;
    background-color: rgb(25,25,25);
    backface-visibility: hidden;
}

.SubmitInput{
    width: 30vw;
    max-height: 50px;
    min-height: 40px;
    margin-top: 40px;
    height: 8vh;
    line-height: 2;
    padding: 0px;
    font-size: 1.5em;
    font-family: "VCR OSD Mono", Icons;
    text-align: center;
    text-shadow: -1px 0px 1px lawngreen;
    border-radius: 8px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 120px -15px #000000;
}

.SubmitInput:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.matches {
    color: rgb(235, 235, 235);
}

.SubmitInput:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.NameInput {
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.53);
    font-size: 2rem;
    font-family: "VCR OSD Mono", Icons;
    text-align: left;
    padding: 2px 20px 2px 20px;
    height: 4vh;
    max-height: 80px;
    width: 60%;
    max-width: 300px;
    text-shadow: 1px 0px 1px lawngreen;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 10px #ffffff);

}

.NameInput:hover {
    cursor: pointer;
}

.NameInput:active {
    filter: drop-shadow(0px 20px 30px #ff0000);
}


.slider {
    -webkit-appearance: none;
    align-content: 50%;
    width: 50vw;
    height: 0.5vh;
    max-height: 20px;
    background: #313131;

    border-radius: 8px;
    box-shadow:
        0 0 120px 3px #000000;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    max-width: 20px;
    height: 3vh;
    background: #7031ff;
    cursor: grabbing;
    border: 2px solid lawngreen;
    border-radius: 4px;
    box-shadow:
        0 0 70px -2px #1400ff,
        0 0 120px -15px #000000;
}

.blink {
    animation: 13s infinite blink;
}

@keyframes blink {
    50%,
    0% {
        opacity: 0;
    }
    20%,
    0% {
        opacity: 1;
    }
}