.individual {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
}

.coloremote {
    position: relative;
    display:inline-block;
    width: auto;
    height: 40px;
    margin: 20px;
}

.collection {
    display: flex;
}